.sub-header{
    height: 50vh;
    width: 100%;
    background-color: #000;
    top: 0;
    height: 500px;
    color: #fff;
}
    
.sub-header .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-header .container .svg{
    font-size: 50px;
}

.sub-header .container p{
    font-size: 20px;
}

.sub-header .container h1{
    font-size: 40px;
}

.body{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 5% auto;
}