.sub-header{
    width: 100%;
    background-color: #000;
    height: 200px;
    color: #fff;
}

.sub-header .sub-header-text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.sub-header .sub-header-text h1 {
    font-size: 40px;
}

.main{
    background-color: #f0f0f0;

}

.container {
    display: flex;
    max-width: 1200px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-container {
    flex: 1;
    height: 400px;
}

.contact-form {
    flex: 1;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.contact-form textarea {
    height: 100px;
    resize: none;
}

.contact-form button {
    padding: 10px;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #5754d7;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        margin: 20px;
    }

    .map-container, .contact-form {
        height: 300px;
        width: 100%;
    }

    .contact-form {
        padding: 10px;
    }

    .contact-form h2 {
        font-size: 20px;
    }

    .contact-form form {
        max-width: 100%;
    }
}




/* .sub-header{
    width: 100%;
    background-color: #000;
    top: 0;
    height: 500px;
    color: #fff;
}
    
.sub-header .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-header .container .svg{
    font-size: 50px;
}

.sub-header .container p{
    font-size: 20px;
}

.sub-header .container h1{
    font-size: 40px;
}

.body{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 5% auto;
} */