
.testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5% 0;
}

.testimonials .head{
    letter-spacing: 1px;
    margin: 30px 0;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials .head h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
}

.testimonials .head span{
    font-size: 1.3rem;
    columns: #252525;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.testimonials .body-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonials .body-container .testimonials-box{
    width: 500px;
    background-color: #ffff;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.testimonials .img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonials .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.testimonials .top{
    display: flex;
    align-items: center;
}

.testimonials .top .user{
    display: flex;
    flex-direction: column;
    margin-left: 6px;
}

.testimonials .top .user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: .5px;
}

.testimonials .top .user span{
    color: #979797;
    font-size: .8rem;
}

.testimonials .review{
    color: #f9d71c;
}

.testimonials .one{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonials .comment p{
    font-size: .9rem;
    color: #4b4b4b;
}

@media screen and (max-width: 1060px) {
    .testimonials-box{
        width: 45%;
        padding: 10px;
    }
    
}

@media screen and (max-width: 790px) {
    .testimonials-box{
        width: 100%;
    }

    .testimonials .head h1{
        font-size: 1.4rem;
    }
    
}