.sub-header{
  width: 100%;
  background-color: #000;
  height: 200px;
  color: #fff;
  margin-bottom: 20px;
}

.sub-header .sub-header-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.sub-header .sub-header-text h1 {
  font-size: 40px;
}
.body {
  width: 85%;
  margin: auto;
  padding-bottom: 30px;
} 

.filter-section {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinea los elementos al principio */
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-section select {
  margin-left: 10px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.filter-section select:focus {
  border-color: #007bff;
  outline: none;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px auto;
  justify-content: space-between; /* Ajuste para espaciar los elementos de manera uniforme */
}

.service-item {
  border: 1px solid #ddd;
  padding: 15px;
  width: calc(20% - 20px);
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.service-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.service-item img {
  width: 100%;
  height: auto;
}

.service-item h3 {
  font-size: 18px;
  margin: 10px 0;
  min-height: 55px;
}

.service-item p {
  font-size: 14px;
  color: #555;
}

/* Media Queries para responsividad */
@media (max-width: 1200px) {
  .service-item {
    width: calc(25% - 20px);
  }
}

@media (max-width: 992px) {
  .service-item {
    width: calc(33.333% - 20px);
  }
}

@media (max-width: 768px) {
  .service-item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .service-item {
    width: 100%;
  }

  .filter-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter-section select {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }
}
