.body{
    width: 85%;
    margin: auto;
    padding-bottom: 30px;
}

.filter-section {
    margin-bottom: 20px;
  }
  
  .filter-section label {
    font-weight: bold;
  }
  
  .filter-section select {
    margin-left: 10px;
    padding: 5px;
  }
  
  .services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .service-item {
    border: 1px solid #ddd;
    padding: 15px;
    width: 300px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .service-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  .service-item img {
    width: 100%;
    height: auto;
  }
  
  .service-item h3 {
    font-size: 18px;
    margin: 10px 0;
    min-height: 55px;
  }
  
  .service-item p {
    font-size: 14px;
    color: #555;
  }
  