.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    background-color: #212528;
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.footer .icons {
    margin-bottom: 30px;
}

.footer .icons .co {
    margin: 0 15px;
    font-size: 35px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.footer .icons .co:hover {
    transform: translateY(-5px);
}

.footer .flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    /* margin-bottom: 20px; */
    flex-wrap: wrap;
}

.footer .flex img {
    max-width: 150px;
    height: auto; 
    margin-bottom: 10px;
}

.footer .flex .block {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.footer .flex .block.bder {
    border-left: 1px solid #fff;
    padding-left: 15px;
}

.footer .flex .block h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer .flex .block p, 
.footer .flex .block a {
    margin: 0;
    font-size: 16px;
    color: #ccc;
    text-decoration: none;
}

.footer .footer-note {
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
}

@media screen and (max-width: 800px) {
    .footer .flex .block {
        flex: 0 0 100%;
        text-align: center;
        padding: 10px 0;
        border-left: none;
    }

    .footer .flex .block.bder {
        border-left: none;
        padding-left: 0;
    }

    .footer .flex .block img {
        max-width: 80px;
    }
}
